@import 'custom';
@import '~bootstrap/scss/bootstrap';

.app {
  height: 100%;
  display: flex;
  flex-direction: column;

  &__body {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    overflow: hidden;
  }

  &__wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    &-form {
      flex-basis: 100%;
      max-width: 100%;
    }
  }

  &__form {
    display: flex;
    gap: 15px;

    @include for-mobile {
      flex-wrap: wrap;
    }

    &-title {
      display: flex;
      align-items: center;
      padding: 0 20px;
      font-weight: bold;
      font-size: 18px;
      color: $primary;
      min-width: 100px;

      @include for-mobile {
        order: 1;
        min-width: initial;
        text-align: right;
        padding: 0;
      }
    }

    &-group {
      width: 100%;

      @include for-mobile {
        order: 3;
      }
    }

    &-result {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 10px;
      padding: 0 20px;
      white-space: nowrap;
      font-size: 18px;
      min-width: 300px;

      @include for-mobile {
        order: 2;
        min-width: initial;
        flex-grow: 1;
        text-align: right;
        padding: 0;
      }

      span {
        font-weight: bold;
      }
    }
  }
}
